.messages {
    padding-left: 30px;
    color: white;
}

.image img{

    width: 50px;
    border-radius: 50%;
}

.name {
    padding-left: 30px;
    color: #bd71f6;
}

.time {
    text-align: right;
    padding-right: 10px;
    color: #dacaca;
}
.general{
    background-color: greenyellow;
    display: flex;
    width: 500px;
    align-items: flex-end;
    padding: 10px;
}
.text {
    border-radius: 10px 10px 10px 0px;
    padding:px;
    margin-left:0px;
    padding-left: 0;
    background-color: #5e7330;
    width: 450px;
    border: 0;

}
.corner {
    background-color: #5e7330;
    width: 23px;
    height: 20px;
    clip-path: polygon(77% 44%, 100% 0, 100% 99%, 0 99%, 45% 78%);
    padding: 0;
    margin: 0;
    border: 0;


}