.someClass {

}

.all {
    background-color: #dad298;
    width: 500px;
    text-align: center;
    padding: 10px;

}
.button button{
    background-color: white;
    color: #282c34;
    padding: 5px;
    margin: 20px;

}
.title {
    display: flex;
    justify-content: space-around;
    border: 1px solid #eac71e;
    border-radius: 15px;
    margin: 5px;
    background-color: gold;

}

.allButton {
    padding: 10px;
    text-align: right;
    flex-grow:1;

}
.allName {
    width: 80px;
    display: flex;
    justify-content: flex-start;

}
.allPriority {
    width: 80px;
    display: flex;
    justify-content: center;
}

